:root {
  --bg-card: hsl(0, 0%, 100%);
  --slate300: hsl(212, 45%, 89%);
  --slate500: hsl(216, 15%, 48%);
  --slate900: hsl(218, 44%, 22%);
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: var(--slate300);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
}

.card {
  padding: 1.6rem;
  width: 32rem;
  padding: 1.6rem 1.6rem 0 1.6rem;
  background: var(--bg-card);
  border-radius: 1rem;
}

.card img {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 2.4rem;
}

.card h1 {
  font-size: 2.2rem;
  letter-spacing: 0rem;
  line-height: 120%;
  color: var(--slate900);
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.6rem;
}

.card p {
  color: var(--slate500);
  line-height: 140%;
  letter-spacing: 0.2px;
  text-align: center;
  padding-bottom: 4rem;
}
