:root {
  font-size: 10px;
  --white: hsl(0, 0%, 100%);
  --cream: hsl(30, 38%, 92%);
  --grey: hsl(228, 12%, 48%);
  --black: hsl(212, 21%, 14%);
  --green500: hsl(158, 36%, 37%);
  --green700: hsl(158, 42%, 18%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: var(--cream);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Classe generique */

.fraunces-font {
  font-family: "Fraunces", serif;
  font-size: 3.2rem;
  font-weight: 700;
}

/* Card */

.card {
  width: 34rem;
  background: var(--white);
  border-radius: 1rem;
  overflow: hidden;
}

/* Card img */
.img-main {
  background: url(../img/image-product-mobile.jpg) center center/cover;
  height: 24rem;
  border-radius: 1rem 1rem 0 0;
}

/* Content */
.content {
  padding: 3.2rem;
}

.content span {
  display: block;
  margin-bottom: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 1.2rem;
  color: var(--grey);
  font-weight: 500;
}

.content h1 {
  margin-bottom: 1.6rem;
  color: var(--black);
}

.content .description {
  margin-bottom: 2.4rem;
  font-size: 1.4rem;
  line-height: 1.6;
  color: var(--grey);
}

.content .prices {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2.4rem;
}

.content .prices .prices-new {
  color: var(--green500);
}

.content .prices .prices-old {
  text-decoration: line-through;
  font-size: 1.3rem;
  color: var(--grey);
}

.content button {
  width: 100%;
  background: var(--green500);
  padding: 0.8rem;
  border-radius: 0.8rem;
  border: none;
  cursor: pointer;
  color: var(--white);
  font-weight: 700;
  font-size: 1.4rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.content button:hover {
    background: var(--green700);
}

@media (min-width: 600px) {
    .card {
        display: flex;
        flex-direction: row;
        width: 60rem;
    }

    .img-main {
        background: url(../img/image-product-desktop.jpg) center center/cover;
        width: 50%;
        height: auto;
        border-radius: 1rem 0 0 1rem ;
    }

    .content {
        width: 50%;
    }
}